.project-filter {
    margin: 5vh 2% 0 0; 
    width: 23%;
    height: 95vh;
}

.project-filter-label {
    margin-bottom: 0;
    display: flex;
    /* justify-content: space-around; */
}

.url-input:invalid {
    color: red;
}

.note-list {
    margin-top: 5vh; 
    width: 75%;
    height: 95vh;
}

.project-card {
    margin-bottom: 2%;
}